body {
    background-color: #0828cc;
}

header {
    margin: 20px;
    color: white;
    font-family: "aktiv-grotesk",sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    font-size: 18px;
}

.header-middle {
   width: 30%;
   align-items: center;
   flex-direction: row;
   display: flex;
   justify-content: space-between;
}

.header-middle p {
    font-size: 12px;
    letter-spacing: 1px;
    justify-content: space-between;
}

.header-right {
    color: white;
    background-color: #0828cc;
    font-family: "aktiv-grotesk",sans-serif;
    font-size: 11px;
    transition: background-color .5s;
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    border: 1px solid white;
}

.header-right:hover {
    background-color: white;
    color: #0828cc;
}

 .start {
    text-align: center;
    width: 190px;
    margin: 0 auto;
    margin-top: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #0828cc;
    background-color: white;
    font-family: "aktiv-grotesk",sans-serif;
    font-size: 12px;
    transition: background-color .5s;
    border-radius: 25px;
    border: 1px solid white; 
}

.start:hover {
    background-color: #0828cc;
    color: white;
   
}

div {
    margin: 35px;
        
}

.logo2 {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-family: "aktiv-grotesk",sans-serif;
    text-align: center;
    font-size: 56px;
    letter-spacing: -0.028px;
    line-height: 60px;
   
}

.main-text {
    color: white;
    font-family: "aktiv-grotesk",sans-serif;
    text-align: center;
    font-size: 17px;
    line-height: 35px;
    margin: 0 370px 0 370px; 
}

#scroll {
    color: white;
    font-family: "aktiv-grotesk",sans-serif;
    font-size: 14px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 80px;
 
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: none;  
    text-align: center;
    color: white;
    font-family: "aktiv-grotesk",sans-serif; 
    
}
